<div class ="container text-center">
    <h2>About Taste Watchers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, atque assumenda ut eaque. Iste, fuga, itaque saepe ab accusantium facere tempora temporibus veritatis minima obcaecati dolores beatae mollitia harum deleniti.</p>
</div>