<!DOCTYPE html>
<html>
    <Head></Head>
    <body>
        <p>You have received an e-mailfrom the site's contact form, from
        <%= "#{ @name}, #{ @email}. %></p>
        <p><%= @body %></p>
    </body>
</html>